
body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

.contactForm{
	display: flex;
	width: 100%;
	margin: 0;
	padding: 30px;
	padding-bottom: 0;
	padding-top: 10px;
	justify-content: space-evenly;
	margin-bottom: 230px;
}


.heading{
	font-size: 40px;
	color: #666;
	text-align: center;
	padding: 10px 0;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}

/* contact from design */
.container {
	padding: 20px 50px 70px;
}
.sec1title {
	text-align: center;
}
.sec1title h1 {
	font-size: 40px;
    margin: 25px;
    text-transform: uppercase;
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.section1 {
	width: 60%;
}
.section1 iframe{
	max-height: 510px;
}
.section2 {
	position: relative;
	width: 30%;
	height: 500px;
}
.section2 .contactform {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 99;
    background: #f1f1f1;
	padding: 30px 40px 70px;
	padding-bottom: 30px;
    box-sizing: border-box;
}
.section2 .contactform input.form-fields,
.section2 .contactform button.form-fields,
.section2 .contactform textarea.form-fields {
    padding: 0 0 0 40px;
    display: block;
    box-sizing: border-box;
    width: 350px;
    font-size: 16px;
    background: #fafafa;
    margin: 7px 0;
    border: 1px solid rgb(56, 56, 56);
    color: rgb(68, 68, 68);
    opacity: 0.5;
    min-height: 45px;
    text-shadow: none;
    position: relative;
}
.section2 .contactform textarea.form-fields {
	padding: 8px 40px;
	resize: none;
}
.section2 .contactform button.form-fields.button {
    color: rgb(68, 68, 68);
	font-size: 14px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: uppercase;

}
.section2 .contactform button.form-fields.button:hover {
	background: rgb(49, 49, 49);
	color: #fff;
	cursor: pointer;
	opacity: 1;
}

.section2 .contactform button.form-fields.button i {
	margin-left:10px;
}

.section2 .contactform h5 {
	color: rgb(68, 68, 68);
    font-size: 16px;
    margin-bottom: 15px;
}
.section2 .contactform label .cntfrmicn {
	color: rgb(68, 68, 68);
    padding: 14px;
    position: absolute;
    z-index: 99;
}

@media only screen and (max-width: 660px) {
	.container {
		padding: 10px 20px 30px;
	}
	.contmap {
		height: 475px !important;
	}
	.sec1title h1 {
		font-size: 28px;
	}
	.section2 .contactform { padding: 10px; right: 0; width: 100%; }
	.section2 .contactform input.form-fields, .section2 .contactform button.form-fields, .section2 .contactform textarea.form-fields {
		width: 100%;
	}
}


@media screen and (max-width: 1000px) {
	.contactForm{
		flex-direction: column;
		justify-content: center;
	}
	.section1{
		width: 90%;
		overflow: hidden;
		margin: auto;
	}
	.section2{
		margin: 30px auto;
	}
}


.footer{
    background: #7a23eb !important;
    color: white;
    font-size: 18px;
    font-weight: 300;
	padding: 20px 250px;
	margin-top: 50px;
}

.footer a{
	color: white;
	text-decoration: none;
}